In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**1.** Реализуйте функцию, принимающую на вход два одномерных массива `first_array` и `second_array` и возвращающую матрицу, в которой первый массив соответствует первому столбцу матрицы, второй — второму.

In [21]:
def construct_matrix(first_array, second_array):
    return np.column_stack((first_array, second_array))

In [23]:
construct_matrix(np.array([1, 2, 3]), np.array([4, 5, 6]))

array([[1, 4],
       [2, 5],
       [3, 6]])

**2.** Реализуйте функцию, принимающую на вход массив целых неотрицательных чисел `nums` и возвращающую самый частый элемент массива.

In [31]:
def most_frequent(nums):
    return np.argmax(np.bincount(nums))

In [34]:
most_frequent(np.array([1, 3, 4, 4, 3, 2]))

np.int64(3)

In [35]:
base = './assets/'
data = pd.read_csv(base + 'organisations.csv')
features = pd.read_csv(base + 'features.csv')
rubrics = pd.read_csv(base + 'rubrics.csv')

In [36]:
data.head()

,org_id,city,average_bill,rating,rubrics_id,features_id
0,15903868628669802651,msk,1500.0,4.270968,30776 30774,3501685156 3501779478 20422 3502045016 3502045...
1,16076540698036998306,msk,500.0,4.375000,30771,1509 1082283206 273469383 10462 11617 35017794...
2,8129364761615040323,msk,500.0,4.000000,31495,10462 11177 11617 11629 1416 1018 11704 11867 ...
3,15262729117594253452,msk,500.0,4.538813,30776 30770,3501618484 2020795524 11629 11617 1018 11704 2...
4,13418544315327784420,msk,500.0,4.409091,31495,11617 10462 11177 1416 11867 3501744275 20282 ...

In [37]:
features.head()

   feature_id                           feature_name
0           1  prepress_and_post_printing_processing
1          40                               products
2          54                        printing_method
3          77                                   fuel
4          79                                   shop

In [38]:
rubrics.head()

   rubric_id        rubric_name
0      30519  Булочная, пекарня
1      30770           Бар, паб
2      30771    Быстрое питание
3      30774               Кафе
4      30775           Пиццерия